@model Wa1.Models.PhieuDangKy

@{
    ViewBag.Title = "LuuThongTin";
}

<h2>LuuThongTin</h2>

<div>
    <h4>PhieuDangKy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuyenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganh)
        </dd>

    </dl>
</div>
<p>
    So luong sinh vien cung chuyen nganh voi ban @ViewBag.dem
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
